body {
    background-color: #545b67;
}

article {
    background-color: #c6d0de;
    border: 1px black solid;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-left: #063e8d solid 10px;
    border-radius: 10px;
}
#titulo {
    color: white;
    text-align: center;
    text-shadow: 3px 3px black;
}
#img {
    display:flex ;
}




@keyframes loading {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
.imgs:hover{
	animation: loading 2s linear infinite;
}

