body {
    background-color: rgb(220, 220, 220);
}
* {
    margin: 0;
    padding: 0;
}

#titulo {
    color: black;
    text-align: center;
    background-color: #c6d0de;
}
#sla {
    display: flex;
}

#div1 {
    display: flex;
    width: 60%;
}

#arc1 {
    padding: 2%;
    margin: 1%;
    background-color: aqua;


}
#sec1 {
    padding: 2%;
    margin: 1%;
    background-color: aquamarine;
    display: flex;
}

.img1 {
    text-align: end;
}

#div2 {
    width: 40%;
}

#arc2 {
    background-color: aqua;
    padding: 2%;
    margin: 1%;
    border-left: black solid 1px;


}
#sec2 {
    background-color: aquamarine;
    padding: 2%;
    margin: 1%;

}
#sec3 {
    background-color: aquamarine;
    padding: 2%;
    margin: 1%;
}

#mundo {
        background-color: aquamarine;
    padding: 2%;
    margin: 1%;
}

