body {
    background-color: rgb(220, 220, 220);
}
* {
    margin: 0;
    padding: 0;
}

#titulo {
    color: black;
    text-align: center;
    background-color: #c6d0de;
}

#div1 {

}

#arc1 {
    padding: 2%;
    margin: 1%;
    background-color: aqua;
    border-bottom: black solid 1px;
    width: 60%;
}
#sec1 {
    padding: 2%;
    margin: 1%;
    background-color: aquamarine;
    display: flex;
}

.img1 {
    text-align: end;
}


