body {
    background-color:rgb ( 220, 220, 220);
}
.art1{
    text-align: justify;
}

h1{
    text-align: center;
}
.img1{
margin: 10px;
}
a{
    text-decoration: none;
    color: black;
}
p{
    font-size: 20px;
    font-family: 'Lucida Sans';

}
.sec2 {
    display: flex;
    border-bottom: solid black 1px;
    width: 60%;
    margin: 1%;
    padding: 2%;
}

#card {
    width: 220px;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #063e8d;
}
.tema2{
    margin: 0;
}
.margin1{
    margin: 8px;
}
#card1 {
    width: 345px;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #063e8d;
}
#card2 {
    width: 240px;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #063e8d;
}
#card3 {
    width: 315px;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #063e8d;
}
.text {
    margin: 10px;
}
#sec3{
    display: flex;
    margin: 1%;
    padding: 2%; 
    width: 100%;
}
