#imgAD1{
    text-align: center;
}
#firstarticle {
    display: flex;
}

#s1 {
    background-image: url(../imagens/profissõesEmAlta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20%;
}

#s2 {
    background-image: url(../imagens/fred-larissa-bbb23.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8%;
}

#s3 {
    background-image: url(../imagens/vestibular\ home.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8%;
}

#a1 {
    width: 50%;
    margin-left: 4%;
}
#a2 {
    margin-left:  1%;
    width: 50%;
    margin-right: 4%;

}

p {
    font-size: 35px;
    text-shadow: 3px 3px 15px #000000;
    color: #ffffff;
}
article {
    margin-top: 2%;
}