body {
    background-color: rgb(223, 223, 223);
}
#titulo {
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: #c6d0de;
    margin-top: 1%;
}


#bloco1 {   background-color: #c6d0de;
    border: 1px black solid;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-left: #063e8d solid 10px;
    border-radius: 10px;
    padding:2%;
    margin-top: 2%;
    width: 60%;
    margin-left: 18%;
}
#bloco2 { 
    width: 65%;
      background-color: #c6d0de;
    border: 1px black solid;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-left: #063e8d solid 10px;
    border-radius: 10px;
    padding:2%;
    margin: 1%;

}
.lado {
    display: flex;
}
#bloco3{
    padding:2%;
    margin: 1%
}
aside {
    width: 35%;
}
#card3 {
    background-color: #c6d0de;
    border: 1px black solid;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-left: #063e8d solid 10px;
    border-radius: 10px;
    padding:2%;
    margin: 1%
}

h1{
    text-align: center;
    margin: 5px;
}

#card1{
  display: flex;
}

img{
    border-radius: 10px;
}

#iframe{
    bottom: 0%;
    margin-bottom: -5px;
}

*{
    margin: 0;
}

p{
    margin-top: 10px;
}

#div4{
    margin-top: 3%;
    border-top: 1px solid black;
    display: flex;
    width: 80%;
    margin-left: 9%;
    margin-bottom: 5px solid black;
}

#p1{
    margin-top: 4%;
}

#img4 {
    margin-top: 2%;
    margin-left: 10px;
}

#img5 {
    margin-left: 11%;
}

#div5 {
    background-color: #c6d0de;
    text-align: center;
}

#img0 {
    margin-top: -27px;
}

#img00 {
    margin-bottom: -18px;
    margin-top: 10px;
}

#div6 {
    background-color: rgb(253, 199, 208);
    text-align: center;
    margin-top: 3%;
}

#art1 {
    display: flex;
    margin: 5px;
    padding: 10px;
    
}

.loi:hover {
    transform: scale(1.05);
}

.loi {
    background-color: #c6d0de;
    border: 1px black solid;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-left: #063e8d solid 10px;
    border-radius: 10px;
    padding:2%;
    margin-top: 2%;
    width: 60%;
    margin-left: 18%;
    margin-left: 3%;
    margin-right: 3%;
}

img {
    margin-left: 15px;
}