/*Estilização do footer*/
footer{
    background-color: #052c67;
    color: white;
    text-align: center;
    width: 100%;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*Estilização do body*/
body{
    margin:0%;
    padding: 0%;
    text-align: center;
    bottom: 0%;
    position: fixed;
    width: 100%;
}
/*Estilização do p1*/
#p1{
    color:white; 
    margin: 0; 
    font-size: 20px;
}