body{
    margin:0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
header{
    background-color:#063e8d;
    color:white;
    padding: 1px 0;
    width: 100%;
    position: fixed;
    text-align: center;
}
