body {
    background-image: linear-gradient( white, #545b67);
}
#art1 {
    display: flex;
    text-align: justify;
}
#art2 {
    display: flex;
    text-align: justify;
}
.sec1 {
    margin: 2%;
    border: 1px black solid;
    -webkit-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    box-shadow: 6px 3px 12px 4px rgba(0, 0, 0, 0.53);
    border-left: #063e8d solid 10px;
    border-radius: 10px;
}
h1 {
    text-align: center;
    text-shadow: 2px 2px black;
}